body {
    margin: 0;
    background: #FFF8E9;
    font-family: Poppins, sans-serif;
}

/* === CONTAINER UTAMA === */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

/* === JUDUL TENGAH === */
.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}

/* SEMUA FOTO ORANG */
.person {
    position: absolute;
    width: 190px;
    text-align: center;
}

.person img {
    width: 150px;     /* ukuran foto */
    height: auto;
}

/* ==== POSISI MELINGKAR ==== */

/* Atas kiri */
.p1 {
    top: 160px;
    left: 12%;
}

/* Atas tengah */
.p2 {
    top: 140px;
    left: 42%;
}

/* Atas kanan */
.p3 {
    top: 160px;
    right: 12%;
}

/* Bawah kiri */
.p4 {
    top: 420px;
    left: 18%;
}

/* Bawah tengah */
.p5 {
    top: 440px;
    left: 44%;
}

/* Bawah kanan */
.p6 {
    top: 420px;
    right: 18%;
}

/* Nama kecil */
.person p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
